*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Young Serif', serif;;
    background-color: white;
}


.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 50px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.banner {
    background-image: url(https://cdn.wallpapersafari.com/45/68/owU7EM.jpg);
    background-size: cover;
    background-position: center;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
}
.intro{
  background-color: #fff;
}
.pic{
    display: flex;
    

}
.pic img{
    width: 500px;
    border: 2px ridge black;
    padding: 50px;
    

    box-shadow: 4px 5px;

}
h3{
        margin-left: 950px;
        color: rgb(239, 234, 243);
        text-shadow: 4px 5px 3px rgb(148, 185, 62);
}
.pic h4{
    text-align:center ;
    font-size: x-large;
    margin: 30px;
    color: blue;
}
.pic p{
    text-align: justify;
    margin: 30px;
}
body{
    background-color: rgb(10, 1, 1);
}

.pro{
    text-align: center;
    color: white;
}

.mainimg{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    top: 1600px;
}

.container{
    background-color: yellow;
    border-radius: 90%;
    width: 180px;
    height: 180px;
    text-align: center;
    color: black;
    
}

.container h3{
    padding-top: 50px;

}

.c1{
    position: absolute;
    top: 1550px;
    left: 300px;
}
.c2{
    position: absolute;
    top: 1750px;
    left: 250px;
}
.c3{
    position: absolute;
    top: 1950px;
    left: 350px;
}
.c4{
    position: absolute;
    top: 2050px;
    left: 550px;
}
.c5{
    position: absolute;
    top: 2030px;
    left: 780px;
}
.c6{
    position: absolute;
    top: 1850px;
    right: 250px;
}
.c7{
    position: absolute;
    top: 1630px;
    right: 250px;
}
.c8{
    position: absolute;
    top: 1430px;
    right: 350px;
}
.c9{
    position: absolute;
    top: 1410px;
    right: 630px;
}




.contact {
    text-align: center;
    padding: 20px;
    margin-top: 60%;
    color: white;
}


.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0077B5;
    transition: transform 0.3s ease-in-out;
}
footer{
    background-color: #360000;
}